body{
  background-color: #36454F;
  font-family: 'Helvetica', sans-serif;
}

h1{
  text-align: center;
}

a:link, a:visited, a:hover, a:active{
  text-align: center;
  color: black;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ww_365086dce66a9 {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
}
