body{
  /*background-color: #36454F;*/
  background-color: #181818;
  font-family: 'Helvetica', sans-serif;
  color: #c2c2c2;
}

h1{
  text-align: center;
}

a:link, a:visited, a:hover, a:active{
  text-align: center;
  color: #c2c2c2;
  display: block;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ww_365086dce66a9 {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0px;
}
